body {
  background-image: linear-gradient(rgb(110, 129, 128), rgb(58, 68, 68));
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  /* font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  font-weight: lighter;
}
